<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
        }
        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Hello to Al Mayadin Visualization</h1>
    <p>Welcome to the visualization dashboard. You can access various visualizations and data analysis tools from here.</p>
    <a href="{{ url_for('graph') }}">Go to Graph Page</a>
    <a href="{{ url_for('hidden_patterns') }}">View Hidden Patterns</a>
    <a href="{{ url_for('counter_page') }}">View Keyword Counter</a>
    <a href="{{ url_for('video') }}">View Video Categories</a> 
    <a href="{{ url_for('aggregation') }}">MongoDB aggregations</a> 
    <a href="{{ url_for('aggregation2') }}">MongoDB aggregations2</a> 

    <a href="{{ url_for('aggregation3') }}">MongoDB aggregations3</a> 
    <a href="{{ url_for('aggregation4') }}">MongoDB aggregations4</a> 
</body>
</html>