Flask==2.3.3
requests==2.28.2
beautifulsoup4==4.12.2
tenacity==8.2.2
pymongo==4.8.0
pip install gunicorn   # to use : gunicorn -w 4 -b 0.0.0.0:5000 app:app  to enhace flask 
	#if you have 4 cpu for example you can increase worker to 9 :  gunicorn -w 9 -b 0.0.0.0:5000 app:app